@charset "utf-8";



/* 공통 */
#wrapSub02 > div, #wrapSub03 > div{padding: 120px 0;}
.sldWrpTtl > h1{font-size: 58px;}
.sldBtn{width: 205px;height: 58px;}
.sldBtn > a::before{width: 8px;height: 12px;right: 23px;top: 48%;}
.sldBtn > a > span{font-size: 16px;margin-left: 23px;line-height: 58px;}

/* popUp */
#wrapSub01 .popUpInr{width: 550px;height: 480px;padding: 25px;}
#wrapSub01 .popUpSwiper .txtBx > h6{font-size: 16px;margin-top: 5px;}
#wrapSub01 .swiperBtn{width: 670px;}
#wrapSub01 .swiperBtnNext, #wrapSub01 .swiperBtnPrev{width: 23px;height: 46px;}
#wrapSub01 .closeBtn{width: 45px;height: 45px;right: -65px;}

#wrapSub01.mapPop .popUpInr{height: 530px;}
#wrapSub01 .popUpSwiper .txtBx > strong{margin-top: 20px;}
#wrapSub01 .popUpSwiper .txtBx > p{height: 132px;overflow-y: scroll;padding-right: 7px;line-height: 28px;}


/* ************  #wrapSub01  *****************/
#wrapSub01 .sldWrp01Bg{width: 650px;height: 190px;}
#wrapSub01 .sldWrp01 .sldWrpTtl > h1{margin-left: 0;}

#wrapSub01 .conTtl{right: 75px;}
#wrapSub01 .conTtl > li > span{font-size: 1.8vw;}
#wrapSub01 .conInr{width: calc(100% - 40px);}
#wrapSub01 .conInr .conBxWrp .conBx.conFir{padding-top: 180px;}
#wrapSub01 .dot.dotTp{margin-top: 180px;}

#wrapSub01 .conInr.on .conTtl{right: 95px;}

#wrapSub01 .conInr .conBxWrp .conBx .txtBx > span{font-size: 13px;}
#wrapSub01 .conInr .conBxWrp .conBx .txtBx > h6{font-size: 16px;line-height: 1.5;}
#wrapSub01 .conInr .conBxWrp .conBx.conLst{padding-bottom: 130px;}

#wrapSub01 .con01 .conInr .conBxWrp .conBx.conFir::before{height: 14.333%;margin-top: 200px;}
#wrapSub01 .conInr .conBxWrp .conBx.conFir::before{height: 57.333%;}
#wrapSub01 .conInr .conBxWrp .conBx.conLst.txtTrd::before{height: 15.833%;}
#wrapSub01 .conInr .conBxWrp .conBx.conFir.txtTrd::before{height: 56.166%;}
#wrapSub01 .conInr .conBxWrp .conBx.conLst::after{height: 59.153%;}
#wrapSub01 .conInr .conBxWrp .conBx.txtTrd::after{height: 30%;}

#wrapSub01 .sct02{padding: 60px 0 130px;}



/* ************  #wrapSub02  *****************/

#wrapSub02 .sldWrpTtl{padding-bottom: 70px !important;}

/* slide01 */
#wrapSub02 .sldWrp01Bg{width: 600px;height: 229px;}

/* slide02 */
#wrapSub02 .sldWrp02Inr{width: calc(100% - 40px);}
#wrapSub02 .sldWrp02 .sct01 > div{height: 295px;width: calc(100% / 2 - 10px);margin-right: 20px;}
#wrapSub02 .sldWrp02 .sct01 > div:nth-child(3){margin-top: 20px;margin-right: 20px;}
#wrapSub02 .sldWrp02 .sct01 > div:nth-child(4), #wrapSub02 .sldWrp02 .sct01 > div:nth-child(5){margin-top: 20px;}

#wrapSub02 .sldWrp02 .sct01 > div .txtBx > li{font-size: 16px;}
#wrapSub02 .sldWrp02 .sct01 > div .txtBx > li > h2{font-size: 34px;}
#wrapSub02 .sldWrp02 .sct01 > div .txtBx > li > p{font-size: 16px;margin-top: 15px;}
#wrapSub02 .sldWrp02 .sct01 > div .txtBx > li > span{font-size: 12px;margin-top: 10px;}

/* slide03 */
#wrapSub02 .sldWrp03{padding: 120px 0;}
#wrapSub02 .sldWrp03 .sct01 .swiper-slide{width: calc(100% - 300px);height: auto;margin: 0 100px;}
#wrapSub02 .sldWrp03 .sct01 .swiperCon{flex-direction: column;height: auto;}
#wrapSub02 .sldWrp03 .sct01 .swiperCon > *{width: 100%;height: 50%;}
#wrapSub02 .sldWrp03 .sct01 .swiperCon .txtBx{padding: 40px 55px;display: flex;flex-direction: column;/* justify-content: center; */height: 300px;}
#wrapSub02 .sldWrp03 .sct01 .swiperCon .txtBx > h3{margin-bottom: 20px;font-size: 24px;}
#wrapSub02 .sldWrp03 .sct01 .swiperCon .txtBx > p{height: auto;}
#wrapSub02 .swiperBtn{width: calc(100% - 40px);}

/* slide04 */
#wrapSub02 .sldWrp04Inr{width: calc(100% - 40px);}
#wrapSub02 .sldWrp04Inr .map .markBx .mark > a{padding: 9px 28px 8px 13px;font-size: 12px;}
#wrapSub02 .sldWrp04Inr .map .markBx .mark > a::before{width: 11px;height: 11px;bottom: -11px;transform: rotate(45deg) translateX(-88%);}
#wrapSub02 .sldWrp04Inr .map .markBx .mark > a::after{width: 11px;height: 11px;right: 12px;}



/* ************  #wrapSub03  *****************/
#wrapSub03 .sldWrpInr{width: calc(100% - 40px);}

/* slide01 */
#wrapSub03 .sldWrp01Bg{width: 660px;height: 190px;}

/* slide02 */
#wrapSub03 .sldWrp02 .sct01{flex-direction: column;margin: 70px 0;}
#wrapSub03 .sldWrp02 .sct .imgBx{width: 515px;height: 275px;margin: 0 0 30px;background-position: 50% 25%;background-size: 2080px;}
#wrapSub03 .sldWrp02 .sct .conBx{align-items: center;}
#wrapSub03 .sldWrp02 .sct .txtBx{text-align: center;}
#wrapSub03 .sldWrp02 .sct .txtBx > h6{font-size: 22px;margin-bottom: 10px;margin-left: 0;}
#wrapSub03 .sldWrp02 .sct .txtBx > p{font-size: 17px;}
#wrapSub03 .sldWrp02 .sct .sldBtn{margin-top: 30px;}
#wrapSub03 .sldWrp02 .sct02 .imgBx{margin: 0 0 30px;background-position: 50% 76%;}
#wrapSub03 .sldWrp02 .sct02{flex-direction: column;}
#wrapSub03 .sldWrp02 .sct02 .txtBx > h6{margin-right: 0;}
#wrapSub03 .sldWrp02 .sct .sldBtn > a::before{width: 13px;height: 14px;}

/* slide03 */
#wrapSub03 .sldWrp03 .sldWrpInr{margin: 70px auto 0;}
#wrapSub03 .sldWrp03 .conBx > ul{flex-wrap: wrap;}
#wrapSub03 .sldWrp03 .conBx > ul > li{width: calc(50% - 7.5px);}
#wrapSub03 .sldWrp03 .conBx > ul > li:nth-child(3), #wrapSub03 .sldWrp03 .conBx > ul > li:nth-child(4){margin-top: 15px;}
#wrapSub03 .sldWrp03 .conBx .txtBx{width: calc(100% - 105px);/* text-align: center; */display: flex;align-items: center;justify-content: center;}
#wrapSub03 .sldWrp03 .conBx .imgBx{width: 60px;margin: 0 10px;}
#wrapSub03 .sldWrp03 .conBx .txtBx > h3{font-size: 16px;}
#wrapSub03 .sldWrp03 .conBx .txtBx > p{font-size: 16px;margin-top: 0;margin-left: 5px;}


/* slide04 */
#wrapSub03 .sldWrp04{padding: 120px 0;}
#wrapSub03 .sldWrp04 .sct01{margin-top: 70px;}
#wrapSub03 .sldWrp04 .sct .conFlx > img{width: 500PX;}


/* slide05 */
#wrapSub03 .sldWrp05{padding: 0 0 120px;}
#wrapSub03 .sldWrp05 .sct01{margin-top: 60px;}
#wrapSub03 .sldWrp05 .sct01 > div{width: calc(100% / 3 - 10px);padding: 15px;}
#wrapSub03 .sldWrp05 .sct01 .imgBx{margin-bottom: 10px;}
#wrapSub03 .sldWrp05 .sct01 .txtBx > a > div > span{font-size: 13px;}
#wrapSub03 .sldWrp05 .sct01 .txtBx > a > div > p{font-size: 15px;margin-top: 5px;}
#wrapSub03 .sldWrp05 .sct01 .txtBx .btnRig{width: 28px;height: 28px;}
#wrapSub03 .sldWrp05 .sct01 .txtBx .btnRig > img{width: 6px;}




@media screen and (max-width: 850px){

    /* ************  #wrapSub01  *****************/
    #wrapSub01 .con01 .conInr .conBxWrp .conBx.conFir::before{height: 10.333%;}
    #wrapSub01 .conInr .conBxWrp .conBx.conFir::after{height: 21.833%;}



    /* ************  #wrapSub02  *****************/
    /* slide03 */
    #wrapSub02 .sldWrp03 .sct01 .swiper-slide{width: calc(100% - 200px);}
    #wrapSub02 .sldWrp03 .sct01 .swiperCon .txtBx > h3{margin-bottom: 15px;font-size: 22px;}

    /* slide04 */
    #wrapSub02 .sldWrp04Inr .map .markBx .mark > a{padding: 7px 24px 6px 10px;font-size: 10px}
    #wrapSub02 .sldWrp04Inr .map .markBx .mark > a::before{width: 9px;height: 9px;bottom: -9px;}
    #wrapSub02 .sldWrp04Inr .map .markBx .mark > a::after{width: 9px;height: 9px;right: 10px;}
    #wrapSub02 .sldWrp04Inr .map .markBx .mark:nth-child(6) > a{left: 8%;}
    #wrapSub02 .sldWrp04Inr .map .markBx .mark:nth-child(9) > a{left: 7%;top: 58.7%;}


}


   
