@charset "utf-8";



.cmmnSctTtl{font-size: 36px; line-height: 56px;}


.sct03 .txt > p > br.onlyTblt{display: none;}







/* mobile swiper */
/* .mobcnt .swiper {
    width: 100%;
    height: 100%;
}

.mobcnt .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.mobcnt .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.mobcnt{display: block; margin-bottom: 60px;}
.mobcnt .swiper-slide{background-color: transparent;}
.mobcnt .swiper-slide > div {background-color: transparent; color: #fff; padding: 0 20px 40px;}
.mobcnt .swiper-slide > div .imgBx{margin-bottom: 10px;}
.mobcnt .swiper-slide > div .years{display: block; font-size: 16px; font-weight: 600; line-height: 30px; color: #ffffff50;}
.mobcnt .swiper-slide > div p{font-size: 24px; line-height: 40px; color: #fff; font-weight: 800;}

.mobcnt .swiper-pagination-bullet{background-color: rgba(199, 199, 199, 0.5); opacity: 1;}
.mobcnt .swiper-pagination-bullet-active{background-color: #fff;} */




