@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@font-face{
    font-family:"NaverNanumSquareNeo";
    font-weight: 100;
    src:url(../font/woff/NanumSquareNeoTTF-aLt.woff);
}

@font-face{
    font-family:"NaverNanumSquareNeo";
    font-weight: 400;
    src:url(../font/woff/NanumSquareNeoTTF-bRg.woff);
}

@font-face{
    font-family:"NaverNanumSquareNeo";
    font-weight: 600;
    src:url(../font/woff/NanumSquareNeoTTF-cBd.woff);
}

@font-face{
    font-family:"NaverNanumSquareNeo";
    font-weight: 800;
    src:url(../font/woff/NanumSquareNeoTTF-dEb.woff);
}

@font-face{
    font-family:"NaverNanumSquareNeo";
    font-weight: 900;
    src:url(../font/woff/NanumSquareNeoTTF-eHv.woff);
}

/* common style */
.innr{width: calc(100% - 120px); margin: 0 auto;}
.cmmnSctTtl{font-size: 60px; font-weight: 300; line-height: 80px; text-align: center; color: #111211;}
.cmmnSctTtl > span{font-weight: 700;}
.lgtGreen{color: #7bbd2a;}
.drkGreen{color: #007c50;}

.lgtGreenBg{z-index: 1; position: relative; display: inline-block; padding: 4px 3px;}
.lgtGreenBg::before{z-index: -1; position: absolute; left: 0; top: 0; content: ''; display: block; width: 100%; height: 100%; background-color: #7bbd2a;}

.drkGreenBg{z-index: 1; position: relative; display: inline-block; padding: 4px 3px;}
.drkGreenBg::before{z-index: -1; position: absolute; left: 0; top: 0; content: ''; display: block; width: 100%; height: 100%; background-color: #007c50;}


body{}
body *{font-family: "NaverNanumSquareNeo",sans-serif; box-sizing: border-box; letter-spacing: -0.04em;}
.nsk{font-family:"Noto Sans KR" !important;}





/* 비주얼 영역 */
.mrlCntnr .vslSct{position: relative; display: flex; align-items: center; justify-content: center; width: 100%; height: 1080px; background-image: url(../images/main/vsl_img.jpg); background-repeat: no-repeat; background-position: center center; background-size: cover;}
.mrlCntnr .vslSct > div{}
.mrlCntnr .vslSct > div > h2{font-size: 80px; color: #fff; text-align: center; line-height: 100px;}
.mrlCntnr .vslSct > div > h2 > span{display: block; font-weight: 300;}

.mrlCntnr .vslSct > div.mouseIcnScrll{animation-name: mouseScrlDwn; animation-duration: 0.8s; animation-iteration-count: infinite; animation-direction: alternate-reverse; animation-timing-function: linear; position: absolute; bottom: 40px;}
.mrlCntnr .vslSct > div.mouseIcnScrll > a{display: inline-block; width: 30px; height: 72px; background-image: url(../images/main/icon_vsl_scroll.png); background-repeat: no-repeat; background-size: 100% auto;}

@keyframes mouseScrlDwn {
    from{
        bottom: 40px;
    }
    to{
        bottom: 30px;
    }
}

/* 섹션 01 */
.sct01{}

/* 배경 인터렉션 영역 */
.sct01 .bgIntrctWrp{position: relative; width: 100%; /*height: 250vh;*/}
.sct01 .bgIntrctWrp .scrllBx01{position: sticky; top: 0; width: 100%; min-height: 100vh; height: 100vh;}
.sct01 .bgIntrctWrp .scrllBx01 > div{width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;}
/* 인터렉션 배경 */
.bgSizeChnge{z-index: -1; position: absolute; left: 50%; bottom: 0; transform: translateX(-50%); transform-origin: center bottom; max-width: 100%; max-height: 100vh; width: 320px; height: 240px; border-radius: 10px 10px 0 0; overflow: hidden; transition: all 1s;}
.bgSizeChnge .bgBx{width: 100%; height: 100%; background-image: url(../images/main/bigger_bg.png); background-repeat: no-repeat; background-size: cover; background-position: center center;}
.bgSizeChnge .bgDmmd{position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.3); opacity: 0; transition: opacity 1s;}

.sct01 .bgIntrctWrp .scrllBx01 > div .cmmnSctTtl{}
.sct01 .bgIntrctWrp .scrllBx01 > div .cmmnSctTtl > span{}
/* 섹션 01 이미지 */
/* .miralHstryImg{background-color: #000;} */
.miralHstryImg > div > div{display: flex; justify-content: center;}
.miralHstryImg > div > div > div > ul{}
.miralHstryImg > div > div > div > ul > li{}
.miralHstryImg > div > div > div > ul > li .imgBx{margin-bottom: 20px;}
.miralHstryImg > div > div > div > ul > li .imgBx > img{width: 100%;}
.miralHstryImg > div > div > div > ul > li .years{display: block; font-size: 16px; font-weight: 700; line-height: 30px; color: #ffffff30;}
.miralHstryImg > div > div > div > ul > li p{font-size: 24px; line-height: 40px; color: #fff; font-weight: 800;}

.miralHstryImg > div .hstryImgCntWrp{padding: 0 0 240px;}
.sct01 .cnt02{background-color: #000;}
.sct01 .cnt02 .cmmnSctTtl{padding: 430px 0 220px; color: #fff;}
/* 왼쪽 이미지 영역 */
.miralHstryImg > div > div > .lftImgBx > ul > li:nth-child(1){margin-left: 90px; margin-bottom: 260px;}
.miralHstryImg > div > div > .lftImgBx > ul > li:nth-child(2){margin-bottom: 270px;}
.miralHstryImg > div > div > .lftImgBx > ul > li:nth-child(3){}
.miralHstryImg > div > div > .lftImgBx > ul > li:nth-child(1) .imgBx{max-width: 520px;}
.miralHstryImg > div > div > .lftImgBx > ul > li:nth-child(2) .imgBx{max-width: 640px;}
.miralHstryImg > div > div > .lftImgBx > ul > li:nth-child(3) .imgBx{max-width: 720px;}
/* 오른쪽 이미지 영역 */
.miralHstryImg > div > div > .rghtImgBx{margin-left: 190px; margin-top: 160px;}
.miralHstryImg > div > div > .rghtImgBx > ul > li:nth-child(1){margin-bottom: 370px;}
.miralHstryImg > div > div > .rghtImgBx > ul > li:nth-child(1) .imgBx{max-width: 480px;}
.miralHstryImg > div > div > .rghtImgBx > ul > li:nth-child(2) .imgBx{max-width: 520px; margin-left: 50px;}


/* 섹션 02 */
.sct02{width: 100%; /*height: 400vh;*/}
.sct02 > div{position: relative; width: 100%; /*height: 1080px;*/  position: sticky; top: 0;}
.sct02 > div .txtCnt01{overflow: hidden; z-index: 3; /*position: absolute;*/ display: flex; align-items: center; justify-content: center; width: 100%; height: 100vh; background-color: rgba(255,255,255,1);}
.sct02 > div .txtCnt01 > h2.on{font-weight: 900; -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-image: url(../images/main/txt_sct_bg.png); background-repeat: no-repeat; background-position: center; background-size: cover;}
.sct02 > div .txtCnt01 > h2.cmmnSctTtl.on > span{font-weight: 900;}

.sct02 > div .txtCnt02{padding-top: 450px; height: 1080px; background-image: url(../images/main/txt_sct_bg.png); background-repeat: no-repeat; background-size: cover; background-position: center center;}
.sct02 > div .txtCnt02 > p{margin-bottom: 20px; font-size: 30px; line-height: 40px; color: #fff; text-align: center; font-weight: 800;}
.sct02 > div .txtCnt02 > h2{font-size: 100px; line-height: 130px; color: #fff; text-align: center; font-weight: 800;}
.sct02 > div .txtCnt02 > h2 .lgtGreenBg{margin-bottom: 10px;}
.sct02 > div .txtCnt02 > h2 .lgtGreenBg::before{opacity: 0.8;}
.sct02 > div .txtCnt02 > h2 .drkGreenBg::before{opacity: 0.8;}
.sct02 > div .txtCnt02 > h2 .drkGreenBg > span{}


/* 섹션 03 */
.sct03{overflow: hidden;}
.sct03 > div{position: relative; margin: 130px 0 24px; display: flex;}
.sct03 > div::before{content: ''; position: absolute; right: -3.5%; top: -12px; width: 658px; height: 308px; background-image: url(../images/main/30th_txt.png); background-repeat: no-repeat; background-position: center center; background-size: 100% auto;}
.sct03 .lftImg{max-width: 919px; margin-left: -60px;}

.sct03 .txt{padding-top: 150px; margin-left: 165px;}
.sct03 .txt > strong{margin-bottom: 20px; display: inline-flex; align-items: center; justify-content: center; padding: 9px 19px; font-size: 20px; font-weight: 800; color: #fff; border-radius: 20px; background-color: #007c50;}
.sct03 .txt > p{font-size: 30px; font-weight: 300; line-height: 60px;}
.sct03 .txt > p .lgtGreen{}
.sct03 .txt > p .drkGreenBg{color: #fff;}




/* 섹션 04 */
.sct04{padding: 0 0 120px;}
.sct04 .innr{position: relative; padding: 80px 0;}
.sct04 .innr > h2{margin-bottom: 80px;}
.vdoCntWrp{}
.vdoCntWrp > ul{display: flex;}
.vdoCntWrp > ul > li{width: calc(100% / 3); margin-right: 60px;}
.vdoCntWrp > ul > li:last-child{margin-right: 0;}
.vdoCntWrp > ul > li .vdoBx{width: 100%; height: 0; padding-bottom: 56.25%; background-color: #ddd; box-shadow: 14px 14px 60px 0px rgba(0, 0, 0, 0.3);}
.vdoCntWrp > ul > li .name{margin-top: 20px; font-size: 20px; font-weight: 800; line-height: 30px;}
/* 라인 */
.bgLne{z-index: -1; position: absolute; background-color: rgba(0, 0, 0, 0.05);}
.lineTp{top: 0; width: 100%; height: 1px;}
.lineBttm{bottom: 0; width: 100%; height: 1px;}
.lineLft{top: 0; left: 20.667%; width: 1px; height: 100%;}
.lineRgt{top: 0; right: 20.667%; width: 1px; height: 100%;}

